<div class="card card-border m-4 shadow-md bg-gray-50">
  <div class="card-body">
    <p class="italic">Wie viele Karten benötigen Sie?</p>
    <select class="select w-40" [formControl]="platzanzahlControl">
      <option disabled selected [value]="null">bitte wählen</option>
      <option *ngFor="let anzahl of anzahlOptions" [value]="anzahl">{{ anzahl }}</option>
    </select>
    <div class="card-actions">
      <button class="btn btn-sm btn-primary" (click)="uebermittlePlatzanzahl()">Anzahl bestätigen</button>
    </div>
  </div>
</div>
