<div class="card card-border m-4 shadow-md bg-gray-50">
  <div class="card-body">
    <p class="italic">Wie viele Karten benötigen Sie?</p>
    <div class="flex flex-row gap-4 items-center">
      <div class="flex-auto">
        <input type="range" class="range range-sm [--range-fill:0] w-full" min="1" max="{{maxAnzahl}}" value="1"/>
        <div class="flex justify-between px-2.5 mt-1.5 text-xs">
          <span *ngFor="let _ of steps">|</span>
        </div>
        <div class="flex justify-between mt-1.5 text-xs">
          <span *ngFor="let step of steps" class="w-5 text-center">{{ step }}</span>
        </div>
      </div>
      <div class="flex-shrink w-20">
        <input [formControl]="platzanzahlControl" name="platzanzahlControl" type="number"
               class="input input-lg text-center"
               min="1" max="{{maxAnzahl}}"/>
      </div>
    </div>
    <div class="card-actions">
      <button class="btn btn-sm btn-primary" (click)="uebermittlePlatzanzahl()">Anzahl bestätigen</button>
    </div>
  </div>
</div>
