<div>
  <p class="film-titel">{{ vorstellung.film.titel }}</p>
  <table>
    <tr>
      <td>
        <div class="film-infos">
          <p>{{vorstellung.film.beschreibung}}</p>
          <p>{{vorstellung.film.genre}}</p>
          <p>Regie: {{vorstellung.film.regie}}</p>
          <p>Hauptdarsteller: {{vorstellung.film.hauptdarsteller}}</p>
          <p>FSK: {{vorstellung.film.fsk}}</p>
          <p>Sprache: {{vorstellung.film.sprache}}</p>
        </div>
      </td>
      <td><img src="{{vorstellung.film.posterUrl}}" alt="{{ vorstellung.film.titel }}" class="film-poster"></td>
    </tr>
  </table>
  <p>Zeit: {{ vorstellung.anfangszeit | date:'HH:mm' }} - {{ vorstellung.endzeit | date:'HH:mm' }}</p>
  <p>Preis: {{ vorstellung.preis / 100 | currency:'EUR':'symbol':'1.2-2' }}</p>
</div>
