<h2>Kinokarte</h2>
<div class="kinokarte">
  <div>
    {{ vorstellung?.anfangszeit | date : 'dd.MM.YYYY HH:mm' }} Uhr
    <br>
    {{ vorstellung?.saal }}
    <br>
    {{ vorstellung?.filmname }}
    <br>
    {{ createPlaetzeString() }}
    <br>
    <br *ngIf="angebot.plaetze.length === 1">
    {{ angebot.plaetze.length }} Platz
    <br>
    <br *ngIf="angebot.plaetze.length > 1">
    {{ angebot.plaetze.length }} Plätze
    <br>
    {{ angebot.gesamtpreis.betrag | geldbetrag }} {{ angebot.gesamtpreis.waehrung }}
  </div>
  <img class="qr-code" src="assets/qr-code.png" alt="https://www.wps.de"/>
</div>
