<div class="card card-border m-4 shadow-md bg-gray-50">
  <div class="card-body">
    <p class="italic">Herzlichen Glückwunsch! Hier sind Ihre Kinokarten:</p>
    <div class="flex flex-wrap gap-4">
      <div class="card card-side card-dash rounded-md shadow-sm items-center bg-white">
        <div class="card-body">
          {{ vorstellung?.anfangszeit | date : 'dd.MM.YYYY HH:mm' }} Uhr
          <br>
          {{ vorstellung?.saal }}
          <br>
          {{ vorstellung?.filmname }}
          <br>
          {{ createPlaetzeString() }}
          <br>
          <br *ngIf="angebot.plaetze.length === 1">
          {{ angebot.plaetze.length }} Platz
          <br>
          <br *ngIf="angebot.plaetze.length > 1">
          {{ angebot.plaetze.length }} Plätze
          <br>
          {{ angebot.gesamtpreis.betrag | geldbetrag }} {{ angebot.gesamtpreis.waehrung }}
        </div>
        <figure class="h-32 mr-4">
          <img src="assets/qr-code.png" alt="https://www.wps.de"/>
        </figure>
      </div>
    </div>
    <div class="card-actions">
      <button class="btn btn-sm btn-primary">Kinokarten drucken</button>
    </div>
  </div>
</div>

