<h2>Auswahl der Plätze</h2>
<svg id="saalplan" [attr.height]="saalplanHoehe" [attr.width]="saalplanBreite">
  <rect id="kinoleinwand" [attr.width]="leinwandBreite" [attr.x]="leinwandPosition"></rect>
  <ng-container *ngFor="let platzbelegungenProReihe of platzbelegungenReihe; let rowIndex = index">
    <ng-container *ngFor="let platz of platzbelegungenProReihe; let columnIndex = index">
      <svg>
        <circle
          [attr.cx]="getStartX(platzbelegungenProReihe) + columnIndex * spacing"
          [attr.cy]="startY + rowIndex * rowSpacing"
          [attr.r]="radius"
          [attr.fill]="getFarbeFuerPlatzbelegung(platz.sitzplatzStatus)"
          stroke="black"
        />
      </svg>
    </ng-container>
  </ng-container>
</svg>
