<div class="card card-border m-4 shadow-md bg-gray-50">
  <div class="card-body items-center">
    @if (angebotenePlaetze === undefined) {
      <div class="loading loading-dots loading-sm"></div>
    } @else if (angebotenePlaetze.plaetze.length === 0) {
      <p class="text-error">Es konnten leider keine {{ platzanzahl }} zusammenhängende Plätze gefunden
        werden.</p>
    } @else {
      <p class="italic">Wo möchten Sie sitzen?</p>
    }
    @if (saalplan && angebotenePlaetze) {
      <svg class="border" [attr.height]="saalplanHoehe" [attr.width]="saalplanBreite">
        <rect [attr.width]="leinwandBreite"
              [attr.x]="leinwandPosition"
              height="16"
              fill="white"
              stroke="black"
        />
        <ng-container *ngFor="let platzbelegungenProReihe of platzbelegungenReihe; let rowIndex = index">
          <ng-container *ngFor="let platz of platzbelegungenProReihe; let columnIndex = index">
            <circle
              [attr.cx]="getStartX(platzbelegungenProReihe) + columnIndex * spacing"
              [attr.cy]="startY + rowIndex * rowSpacing"
              [attr.r]="radius"
              [attr.fill]="getFarbeFuerPlatzbelegung(platz)"
              stroke="black"
            />
          </ng-container>
        </ng-container>
      </svg>
    } @else {
      <div class="skeleton h-32 w-64"></div>
    }
    <div class="card-actions">
      <button class="btn btn-sm btn-primary"
              [disabled]="gewaehltePlaetze === undefined || gewaehltePlaetze.plaetze.length === 0"
              (click)="platzwahlBestaetigt()">
        Platzauswahl bestätigen
      </button>
    </div>
  </div>
</div>
