<app-vorstellung
  [vorstellung]="vorstellung"
/>
<app-platzanzahl
  (onPlatzanzahlButtonClick)="forderePlaetzeAn($event)"
/>
<app-saalplan
  [platzbelegungen]="angebot?.platzbelegungen"
  *ngIf="zeigeSaalplanKomponente"
/>
<app-zahlung
  [gesamtpreis]="angebot!.gesamtpreis"
  *ngIf="zeigeZahlungKomponente"
  (oeffneZahlungDialog)="oeffneZahlungDialog()"
/>
<app-zahlungdialog
  [angebot]="angebot"
  [vorstellung]="vorstellung"
  *ngIf="zeigeZahlungDialogKomponente"
  (schliesse)="schliesseZahlungDialog()"
/>
<app-kinokarte
  [angebot]="angebot!"
  [vorstellung]="vorstellung"
  *ngIf="zeigeKinokarteKomponente"
/>

