<app-vorstellung [vorstellung]="vorstellung"></app-vorstellung>
<app-platzanzahl (onPlatzanzahlButtonClick)="forderePlaetzeAn($event)"></app-platzanzahl>
<app-saalplan [platzbelegungen]="angebot?.platzbelegungen"
              *ngIf="zeigeSaalplanKomponente"
></app-saalplan>
<app-zahlung [gesamtpreis]="angebot!.gesamtpreis"
             *ngIf="zeigeZahlungKomponente"
             (oeffneZahlungDialog)="oeffneZahlungDialog()"
></app-zahlung>
<app-zahlungdialog [angebot]="angebot"
                   [vorstellung]="vorstellung"
                   *ngIf="zeigeZahlungDialogKomponente"
                   (schliesse)="schliesseZahlungDialog()"
></app-zahlungdialog>
