<div *ngIf="film" class="film-container">
  <div class="film-poster">
    <img src="{{film.posterUrl}}" alt="{{film.titel}}">
  </div>
  <div class="film-infos">
    <h2>{{ film.titel }}</h2>
    <div class="film-details">
      <span>FSK {{ film.fsk }}</span>
      <span>⋅</span>
      <span>{{ film.laufzeit | durationFormat }}</span>
      <span>⋅</span>
      <span>{{ film.genre }}</span>
    </div>
    <p>{{ film.beschreibung }}</p>
    <div class="film-details">
      <span>Regie: {{ film.regie }}</span>
      <span>⋅</span>
      <span>Hauptdarsteller*innen: {{ film.hauptdarsteller }}</span>
      <span>⋅</span>
      <span>{{ film.sprache }}</span>

    </div>
  </div>

</div>
