<div class="card card-border m-4 shadow-md bg-gray-50">
  <div class="card-body  items-center">
    <p class="italic">Zu zahlender Betrag</p>
    @if (zahlungsanforderung) {
      <b>{{ zahlungsanforderung.betrag.betrag | geldbetrag }} {{ zahlungsanforderung.betrag.waehrung }}</b>
    } @else {
      <div class="loading loading-dots loading-sm"></div>
    }
    <div class="card-actions">
      <button class="btn btn-sm btn-primary" (click)="oeffneZahlungDialog()"
              [disabled]="zahlungsanforderung===undefined">
        Weiter zur Zahlung
      </button>
    </div>
  </div>
</div>

@if (zahlungsanforderung) {
  <app-zahlungdialog
    #zahlungDialog
    class="w-full"
    [zahlungsanforderung]="zahlungsanforderung!"
    (onDialogGeschlossen)="zahlungDialogGeschlossen($event)"
  />
}

